.cleaning {
    width: 7%;
    position: absolute;
    left: 3%;
}

/*Navbar*/
.navbar {
    background-color: white;
    position: absolute;
    left: 28%
}


.nav-item {
    margin: 0 18px;
}