body {
    background-color: rgb(241, 241, 241);

}

/*Main page image*/
.index-img {
    position: absolute;

}

img {
    max-width: 100%;
    height: auto;
}


/*Company Logo*/
.cleaning {
    width: 7%;
    position: absolute;
    left: 2%;
}

/*Navbar*/
.nav {
    position: absolute;
    left: 15%;
    margin-top: auto;
}

.nav a:visited {
    color: black;
}

.nav a:hover {
    color: blue;
}

.nav-link {
    color: black;
}

/*headline*/
.headline {
    position: absolute;
    margin: 0 0 0 14%;
    padding: 15% 0 0 0;
    font-weight: bolder;
    font-size: 50px;

}

.headline2 {
    position: absolute;
    margin: 0 0 0 14%;
    padding: 19% 0 0 0;
    font-weight: bolder;
    font-size: 50px;
    color: #07a607ff;
}

.heading1 {
    position: absolute;
    margin: 0 0 0 14%;
    padding: 25% 0 0 0;
}

.heading2 {
    position: absolute;
    margin: 0 0 0 14%;
    padding: 27% 0 0 0;
    font-weight: bold;

}

/*Quote Button*/
.quote {
    position: absolute;
    margin: 31% 0 0 14%;
    background: rgb(42, 139, 0);
    background: linear-gradient(90deg, rgba(42, 139, 0, 1) 0%, rgba(35, 186, 35, 1) 35%, rgba(185, 244, 15, 1) 100%);
    color: white;
    font-weight: 500;
    border-radius: 100px;
    padding: 6px 10px;
}

.quote2 {
    position: absolute;
    margin: 2% 0 0 90%;
    background: rgb(42, 139, 0);
    background: linear-gradient(90deg, rgba(42, 139, 0, 1) 0%, rgba(35, 186, 35, 1) 35%, rgba(185, 244, 15, 1) 100%);
    color: white;
    font-weight: 500;
    border-radius: 100px;
    padding: 6px 10px;
}