.cleaning {
    width: 7%;
    position: absolute;
    left: 3%;
}

/*Navbar*/
.nav {
    position: absolute;
    left: 28%
}

.nav a:visited {
    color: black;
}

.nav a:hover {
    color: blue;
}

.nav-link {
    color: black;
}

.nav-item {
    margin: 0 18px;
}